/* Alertas */

.alert {
    position: relative;
    padding: 0.75rem 9.25rem;
    border: 1px solid transparent;
}

.alert-success {
    display: none;
}

.alert-danger {
    color: #fff;
    font-weight: var(--bold);
    background-color: #dc3545;
    border-color: #dc3545;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
    opacity: 1;
}


.invalid-feedback{
    width: 100%;
    font-size: 80%;
    color: #F22A40;
    margin-bottom: 5px;
    text-align: right;
}


/* Style Hero */

.login-in-social {
    margin-top: 35px;
    display: grid;
    grid-row-gap: 15px
}

.loginhero {
    width: 100%;
    height: 100%;
    position: relative
}

.login-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.login-hero-bg img {
    min-width: 100%;
    min-height: 100%
}

.login-hero-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px
}

.login-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.login-hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.login-hero-text .titulo-1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: right;
    font-size: 26px;
}

.login-hero-text .subtitulo {
    color: var(--white);
    text-align: right;
    font-size: 16px;
}

.login-footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

/* Style Form */

.login-in {
    padding: 0 35px;
    width: 100%
}

.login-in .error {
    color: var(--white);
    background: #fc3535;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: -15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.login-in-social {
    margin-top: 35px;
    display: grid;
    grid-row-gap: 15px
}

.login-in-social .Parrafo {
    text-align: center
}

.login-in-social .IconBox {
    display: flex;
    justify-content: center
}

.login-in-social .IconBox img {
    margin: 0 5px;
    cursor: pointer
}

.login-in-form {
    margin-top: 40px
}

.login-in-form input,
.login-button {
    width: 100%;
    height: 50px
}

.login-in-form input[type=email],
.login-in-form input[type=password],
.login-in-form input[type=text]{
    border: 1px solid grey;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px
}


.login-in-form input.is-invalid {
    margin-bottom: 8px;
}


.login-in-form input[type=submit],
.login-button {
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 30px
}

.login-in-form input[type=submit]:hover {
    background-color: var(--darkBlue);
}


.login-button:hover {
    background-color: var(--darkBlue);
}

.LoginRegister {
    padding: 0 35px;
    width: 100%
}

.LoginRegister .error {
    color: var(--white);
    background: var(--red2);
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: -15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}


.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--white);
}

.login-form-content {
    width: 100%;
    height: 100%
}

.login-form-switch {
    width: 100%;
    height: 60px;
    border-bottom: 3px solid #e0e0e0;
    padding: 0 35px;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.login-form-switch a,
.login-form-switch div {
    display: flex;
    color: var(--black);
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer
}

.login-form-switch a .titulo-form,
.login-form-switch div .titulo-form {
    font-weight: 700;
    text-decoration: none
}

.login-form-switch a .switch-stick,
.login-form-switch div .switch-stick {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--black);
    transition: all .3s
}

.login-form-switch .is-active .switch-stick,
.login-form-switch a:hover .switch-stick,
.login-form-switch div:hover .switch-stick {
    width: 100%
}

.login-view {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "log"
}

.login-hero-section {
    grid-area: hero;
    display: none
}

.login-log-form {
    grid-area: log;
}

.FormCheck {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.FormCheck input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.FormCheck .is-term {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (min-width: 990px) {
    .login-view {
        grid-template-columns: 1fr 420px;
        grid-template-rows: 1fr;
        grid-template-areas: "hero log"
    }

    .login-hero-section {
        display: block
    }
}

@media (orientation: portrait) {
    .login-view {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "log"
    }

    .login-hero-section {
        display: none
    }
}

.respaldo {
    height: 63.08px;
    color: var(--white);
    background-color: inherit
}

.title-respaldo {
    text-align: left;
    font-size: 11px;
}

.respaldo-box-logos {
    width: 233px;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}