:root{
    --headerNav: 58px;
}
.header{
    position: fixed;
    transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    z-index: 12;
    width: 100%;
    .header-inner{
        height: var(--headerNav);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--container);
        margin: 0 auto;
        padding: 0 50px;
        .header-logo{

        }
        .header-menu{
            .main-menu{
                display: flex;
                align-items: center;
            }
        }
    }
    &.is-alternate{
        
    }
}