:root {
    --headerNav: 58px;
}

.header {
    position: absolute;
    transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    z-index: 12;
    width: 100%;

    .header-inner {
        height: var(--headerNav);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--container);
        margin: 0 auto;
        padding: 0 50px;

        .header-menu {
            .main-menu {
                display: flex;
                align-items: center;

                .menu-item {
                    display: flex;
                    align-items: center;

                    &:not(:last-child) {
                        margin-right: 37px;
                    }

                    &.menu-item-carrito {
                        a {
                            width: 21px;
                            height: 21px;
                            display: block;
                            position: relative;

                            &::before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-image: url('../img/png/Carrito@2x.png');
                                background-size: cover;
                            }
                        }
                    }

                    &.menu-item-burger {
                        .hamburger-toggle {
                            width: 18px;
                            height: 12px;
                            padding: 0;
                            position: relative;
                            background: transparent;
                            border: none;
                            outline: none;
                            border-radius: 0;
                            cursor: pointer;
                            display: var(--toggleButtonStatus);

                            .burger-box {
                                width: 100%;
                                height: 2px;
                                background: var(--white);
                                transition: all ease 0.2s;
                                border-radius: 3px;

                                &::before,
                                &::after {
                                    content: '';
                                    height: 2px;
                                    width: 100%;
                                    background: var(--white);
                                    position: absolute;
                                    transition: all ease 0.2s;
                                    border-radius: 3px;
                                }

                                &::before {
                                    top: 0;
                                    left: 0;
                                }

                                &::after {
                                    bottom: 0;
                                    left: 0;
                                }
                            }
                        }
                    }

                    &.menu-item-login,
                    &.menu-item-register {
                        a {
                            color: var(--white);
                            text-decoration: none;
                            font-size: 16px;
                            transition: color ease-in-out 0.2s;
                            cursor: pointer;
                            &:hover {
                                color: #705ef5;
                            }
                        }
                    }
                }
            }
        }
    }

    .user-content-login {
        min-height: var(--headerNav);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--container);
        margin: 0 auto;
        padding: 0 50px;
        @media only screen and (max-width: 989px){
            padding: 0 7.5vw;
            margin: 40px auto 0;
        }
        .user-content-inner{
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: 380px){
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
            a, button {
                color: var(--white);
                font-weight: var(--bold);
                text-decoration: none;
                font-size: 16px;
                line-height: 1;
                margin: 0;
                border: none;
            } 
            a{
                pointer-events: none;
                cursor: default;
            }
            button{
                transition: color ease-in-out 0.2s;
                margin-left: 10px;
                background-color: transparent;
                border-radius: 4px;
                padding: 6px 12px;
                border: 2px solid var(--white);   
                cursor: pointer; 
                @media only screen and (max-width: 380px){
                    margin-left: 0;
                    margin-top: 15px;
                }  
                &:hover {
                    color: #705ef5;
                    background-color: var(--white);
                } 
            }
        }
    }
}