<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackaton Final | Home</title>
    <script src="https://kit.fontawesome.com/3359f70bfe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../scss/atomos/main.css">
</head>
<body>
    <header>
        <div class="header-inner">
            <div class="header-logo">
                <a href="#" class="logo">
                    <img src="../source/img/logo.svg" alt="">
                </a>
            </div>
            <div class="header-menu">
                <ul class="main-menu">
                    <li class="menu-item menu-item-carrito">

                    </li>
                    <li class="menu-item menu-burger">
                        <button class="hamburger-toggle">
                            <div class="burger-box"></div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="alternate-section hero-section">
        <div class="container">
            <div class="content">
                
            </div>
        </div>
    </section>
</body>
</html>