<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login view</title>
    <link rel="stylesheet" href="../scss/atomos/main.css">
</head>
<body>
    <div id="login-template">
        <div class="login-view">
            <div class="login-hero-section">
                <section  class="loginhero container-full">
                    <div  class="login-hero-bg"><img src="../source/img/png/hero_desktop.png"></div>
                    <div class="login-hero-content section-type-1">
                        <div class="login-header"><img src="../source/img/svg/logo.svg"></div>
                        <div class="login-hero-text">
                            <h1 class="titulo-1">¡Explota todo tu potencial<br>tecnológico!</h1>
                            <p class="subtitulo">Con nuestros programas<br>de especialización</p>
                        </div>
                        <div class="login-footer">
                            <div  class="respaldo section-type-1">
                                <p  class="title-respaldo">Con el respaldo de:</p>
                                <div  class="respaldo-box-logos">
                                    <img src="../source/img/svg/intercorp.svg" alt="">
                                    <img src="../source/img/svg/idat.svg" alt="">
                                    <img src="../source/img/svg/zegel.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="login-log-form">
                <section class="login-form">
                    <div   class="login-form-content">
                        <div  class="login-form-switch">
                            <div class="switch-login is-active">
                                <span class="titulo-form">Iniciar Sesión</span>
                                <div  class="switch-stick"></div>
                            </div>
                            <div  class="switch-register">
                                <span class="titulo-form">Registrarse</span>
                                <div  class="switch-stick"></div>
                            </div>
                        </div>
                        <div class="login-in">
                            <div  class="login-in-social">
                                <p class="Parrafo">Puedes registrarte con:</p>
                                <div  class="IconBox">
                                    <div><img src="../source/img/svg/facebok-icon.svg"></div>
                                    <div><img  src="../source/img/svg/linkedin-icon.svg"></div>
                                </div>
                                <p class="Parrafo">También puedes registrarte con tu correo</p>
                            </div>
                            <form  class="login-in-form">
                                <input type="email" placeholder="Correo electrónico" required="required" class="Parrafo">
                                <input type="password" placeholder="Contraseña" required="required"class="Parrafo">
                                <input type="submit" value="Ingresar" class="titulo-form">
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>