<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login view</title>
</head>
<body>
    <div id="app">
        <div class="accede">
            <div class="accede-hero">
                <section  class="loginhero l-container-full">
                    <div  class="loginhero__bg"><img src="../source/img/png/hero_desktop.png"></div>
                    <div class="loginhero__contain l-section">
                        <div class="loginhero__nav"><img src="../source/img/svg/logo.svg"></div>
                        <div class="loginhero__text">
                            <h1 class="Title-2">¡Explota todo tu potencial<br>tecnológico!</h1>
                            <p class="Title-4">Con nuestros programas<br>de especialización</p>
                        </div>
                        <div class="loginhero__foot">
                            <div  class="respaldo l-section">
                                <p  class="f-Small respaldo-Titulo">Con el respaldo de:</p>
                                <div  class="respaldo-boximg">
                                    <img src="../source/img/svg/intercorp.svg" alt="">
                                    <img src="../source/img/svg/idat.svg" alt="">
                                    <img src="../source/img/svg/zegel.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="accede-log">
                <section class="LoginForm">
                    <div   class="LoginForm__Content">
                        <div  class="LoginForm__Switch">
                            <div class="Switch__Login is-active">
                                <span class="Title-5">Iniciar Sesión</span>
                                <div  class="Switch__Stick"></div>
                            </div>
                            <div  class="Switch__Register">
                                <span class="Title-5">Registrarse</span>
                                <div  class="Switch__Stick"></div>
                            </div>
                        </div>
                        <div class="LoginIn">
                            <div  class="LoginIn__Social">
                                <p class="Parrafo">Puedes registrarte con:</p>
                                <div  class="IconBox">
                                    <div><img src="../source/img/svg/facebok-icon.svg"></div>
                                    <div><img  src="../source/img/svg/linkedin-icon.svg"></div>
                                </div>
                                <p class="Parrafo">También puedes registrarte con tu correo</p>
                            </div>
                            <form  class="LoginIn__Form"><input type="email" placeholder="Correo electrónico" required="required" class="Parrafo"><input
                                    type="password" placeholder="Contraseña" required="required"
                                    class="Parrafo"><!----><input type="submit" value="Ingresar"
                                    class="Title-5"></form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>