.courses-section{
    --contentSpace: 80px;
    .sponsore-wrapper{
        max-width: 233px;
        margin-bottom: 130px;
        img{
            display: block;
            width: 100%;
        }
    }
    .heading-wrapper{
        margin-bottom: 30px;
        &.heading-is-purple{
            color: var(--blue);
            --headingWeight: var(--bold);
        }
    }
    .cursos-wrapper{
        max-width: 718px;
        width: 100%;
        --columnGap: 0.75rem;
        .cursos-wrapper-inner{
            margin: calc( -1 * var(--columnGap));
            display: flex;
            flex-wrap: wrap;
            .cursos-item{
                padding: var(--columnGap);
                width: 50%;
                .curso-inner{
                    .img-wrapper{
                        position: relative;
                        &::before{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: linear-gradient(rgba(0, 4, 37, 0) 0%, #000425 100%);
                            border-radius: 10px;    
                        }
                        img{
                            display: block;
                            width: 100%;
                            border-radius: 10px;
                            aspect-ratio: 344 / 320;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                }
            }
        }
    }
}