.courses-section{
    --contentSpace: 80px;
    .sponsore-wrapper{
        max-width: 233px;
        margin-bottom: 130px;
        img{
            display: block;
            width: 100%;
        }
    }
    .heading-wrapper{
        &.heading-is-purple{
            --headingWeight: var(--bold);
        }
    }
    .cursos-wrapper{
        max-width: 718px;
        width: 100%;
        --columnGap: 0.75rem;
        .cursos-wrapper-inner{
            margin: calc( -1 * var(--columnGap));
            display: flex;
            flex-wrap: wrap;
            .cursos-item{
                padding: var(--columnGap);
                width: 100%;
                @media only screen and (min-width: 768px){
                    width: 50%;
                }
                .curso-inner{
                    position: relative;
                    aspect-ratio: 344 / 320;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding: 20px;
                    .img-wrapper{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        &::before{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: linear-gradient(rgba(0, 4, 37, 0) 0%, #000425 100%);
                            border-radius: 10px;    
                        }
                        img{
                            display: block;
                            width: 100%;
                            border-radius: 10px;
                            aspect-ratio: 344 / 320;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    .heading-wrapper,
                    .button-wrapper{
                        position: relative;
                        color: var(--white);
                    }
                    .heading-wrapper{
                        width: 100%;
                        .heading-tag{
                            max-width: 150px;
                        }
                    }
                    .button-wrapper{
                        a{
                            font-weight: var(--bold);
                            text-decoration: none;
                            color: inherit;
                            transition: opacity ease 0.25s;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}